#aboutTitle {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  padding: 2vw;
}

#aboutMain {
  display: flex;
  flex-direction: column;
}

#aboutPara {
  color: white;
  font-size: 2.5vh;
  padding: 3vh;
}

.aboutParaClass {
  margin-bottom: 2vh;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media (max-width: 600px) {
  .typewriter h1 {
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}

@media (min-width: 600px) {
  #aboutMain {
    flex-direction: row;
  }

  .typewriter h1 {
    width: 40vw;
    font-size: 18vh;
    overflow: auto;
    white-space: normal;
    animation: typing 3.5s steps(10, end), blink-caret 0.75s step-end 20;
  }

  #aboutPara {
    width: 60vw;
    font-size: 5vh;
    padding: 5vh;
  }
}
