#headerContainer {
  background-color: black;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 4vw;
  padding-right: 4vw;
  position: sticky;
  top: 0;
  z-index: 1000;
  opacity: 0.9;
}

#rightHeaderLarge {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 3vh;
}

#rightHeaderSmall {
  display: none;
}

#leftHeader {
  font-size: 3vh;
  margin-right: auto;
}

#rightHeaderDropdown {
  /* display: none; */
  /* position: fixed;
  right: 0;
  bottom: 10; */
}

@media (max-width: 600px) {
  #rightHeaderSmall {
    display: block;
  }

  #rightHeaderLarge {
    display: none;
  }
}

/* sidebar Nav */

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 10;
  background: darkcyan;
  right: 0;
  bottom: 0;
  height: 90vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  margin: 0;
}

.menuNav.hideNav {
  display: none;
}

.menuNav.showMenu {
  width: 30%;
  display: block;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

.menuItem {
  font-size: 2.2vh;
  padding-bottom: 2vh;
}

.menuItem:hover {
  text-decoration: underline;
}
