#headerContainer {
  background-color: rgba(0, 0, 0, 0.9);
  height: 10vh;
  color: white;
  padding-left: 4vw;
  padding-right: 4vw;
  position: sticky;
  z-index: 1000;
  margin: 0;
  top: 0;
}

.headerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#rightHeaderLarge {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 3vh;
}

#rightHeaderSmall {
  display: none;
  padding: 1vh;
}

#leftHeader {
  font-size: 3vh;
  margin-right: auto;
}

@media (max-width: 1000px) {
  #rightHeaderSmall {
    display: block;
  }

  #rightHeaderLarge {
    display: none;
  }
}

/* sidebar Nav */

.navBar {
  position: relative;
  display: block;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: absolute;
  top: 10vh;
  background-color: darkcyan;
  padding-left: 10vw;
  height: 90vh;
  z-index: 9;
  margin: 0;
  display: block;
  opacity: 1;
  transition: 1s;
  right: -10vw;
}

.showMenu {
  width: 100%;
}
.menuNav.hideNav {
  width: 0%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 5rem;
}

.menuItem {
  font-size: 2.2vh;
  padding-bottom: 2vh;
  border: 3px solid white;
  width: 50vw;
  max-width: 300px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh;
  font-size: 3vh;
  margin-bottom: 2vh;
}

.menuItem:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.xBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  border: 3px solid white;
  border-radius: 50%;
  height: 2vw;
  width: 2vw;
}

.xBtn {
  color: orange;
  font-size: 2.5vh;
  font-weight: bolder;
}

.largeHeader:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: orange;
}
