#sliderContainer {
  background-color: black;
  color: white;
  height: 15vh;
  white-space: nowrap;
  display: flex;
  gap: 5vw;
  overflow: hidden;
  padding: 2vh 0 2vh 0;
  justify-content: flex-end;
  transition: 10s;
  position: relative;
  left: 0;
}

#sliderHolder {
  position: absolute;
  left: 100vw;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  animation: linear infinite normal;
  animation-name: mover;
  animation-duration: 18s;
  animation-delay: -2s;
}

@keyframes mover {
  0% {
    left: 100vw;
  }
  100% {
    left: -410vw;
  }
}

.slider {
  position: relative;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideItem {
  height: 15vh;
  width: 15vh;
  opacity: 0;
  transition-duration: 1s ease;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: moveLeft 4s infinite forwards; */
}

.slideItem.slideActive {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.skillImage {
  font-size: 6vh;
}

.skillItem {
  position: absolute;
  bottom: 5px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 2vw;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 2vw;
  cursor: pointer;
  z-index: 10;
}

@keyframes moveLeft {
  from {
    translate: 0vw;
  }
  to {
    translate: -15vw;
  }
}

@media (min-width: 1000px) {
  #sliderHolder {
    animation-duration: 20s;
    animation-delay: -3s;
  }
  @keyframes mover {
    0% {
      left: 100vw;
    }
    100% {
      left: -150vw;
    }
  }
}

@media (min-width: 601px) and (max-width: 999px) {
  #sliderHolder {
    animation-duration: 20s;
    animation-delay: -3s;
  }
  @keyframes mover {
    0% {
      left: 100vw;
    }
    100% {
      left: -300vw;
    }
  }
}
